<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title  -->
  <title>Payment</title>

  <!-- Favicon  -->
  <link rel="icon" href="static/img/core-img/favicon.ico">

  <!-- Core Style CSS -->
  <link rel="stylesheet" href="static/css/core-style.css">
  <link rel="stylesheet" href="static/static/css/style.css">
</head>
<body>

<div class="container cc-container">
  <div class="row cc-row">
    <div class="cc-inner-container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row cc-row">
            <br>
            <h3 class="text-center">PayPal Payment</h3>
            <img class="img-responsive cc-img" src="static/img/core-img/paypal.jpeg" alt="">
          </div>
        </div>
        <div class="panel-body">
          <form role="form">
            <div class="row">
              <div class="col-xs-12 col-md-12">
                <div class="form-group">
                  <label>User Name</label>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Valid User Name" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-12">
                <div class="form-group">
                  <label>Password</label>
                  <div class="input-group">
                    <input type="password" class="form-control" placeholder="Valid Password" />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-footer">
          <div class="row cc-row">
            <div class="col-xs-12">
              <a href="/order-confirmation?user_id=1"><button class="btn btn-primary btn-lg btn-block">Process payment</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <script src="static/js/jquery/jquery-2.2.4.min.js"></script>
  <!-- Popper js -->
  <script src="static/js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="static/js/bootstrap.min.js"></script>
  <!-- Plugins js -->
  <script src="static/js/plugins.js"></script>
  <!-- Active js -->
</body>
</html>